name: ci-test

on:
  push:
     branches: [main]
  pull_request:
     branches: [main]
  workflow_dispatch:


jobs:
  build:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v2

        - name: Set up Go
          uses: actions/setup-go@v2
          with:
             go-version: 1.17

        - name: Hello World
          run: echo Hello World!!

        - name: Set up Ginkgo
          run: |
            echo Onsi Ginkgo
            go get github.com/onsi/ginkgo/v2/ginkgo
            echo Onsi Gomega
            go get github.com/onsi/gomega/...
            echo Ubuntu Ginkgo dev
            sudo apt-get install golang-ginkgo-dev

            echo Testing...
            ginkgo help

        - name: Run Ginkgo test suite
          run: go run ./tests/main.go


