# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo Install k3s cluster...
          curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='--flannel-backend=none --disable traefik' sh -s - --write-kubeconfig-mode 644
          echo Make k3s cluster config default...
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          echo Install karmor...
          curl -sfL https://raw.githubusercontent.com/kubearmor/kubearmor-client/main/install.sh | sudo sh -s -- -b /usr/local/bin
          echo Install cilium cli tool...
          curl -L --remote-name-all https://github.com/cilium/cilium-cli/releases/latest/download/cilium-linux-amd64.tar.gz{,.sha256sum}
          echo Checking for cilium tar file...
          sha256sum --check cilium-linux-amd64.tar.gz.sha256sum
          echo Extracting the tar file...
          sudo tar xzvfC cilium-linux-amd64.tar.gz /usr/local/bin
          echo Removing the tar file...
          rm cilium-linux-amd64.tar.gz{,.sha256sum}
          echo Install Daemonsets and Services...
          curl -s https://raw.githubusercontent.com/accuknox/tools/main/install.sh | bash
          echo Install sample k8s application...
          kubectl apply -f https://raw.githubusercontent.com/kubearmor/KubeArmor/main/examples/wordpress-mysql/wordpress-mysql-deployment.yaml
          echo Get Auto discovered policies...
          curl -s https://raw.githubusercontent.com/accuknox/tools/main/get_discovered_yamls.sh | bash

